/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* nav section starts */
.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-weight: 700;


}

.logo-container img {
    width: 80px;
    object-fit: contain;
    margin-right: 20px;
}

.logo-container span {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
    color: #3C354F;
    text-align: center;
    font-weight: 500;
}

.nav-items-container .follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}
/* nav section ends */












/* responsive mobile */
@media screen and (max-width:576px) {
    .nav-container, .nav-items-container{
        flex-direction: column;
    }
    .nav-items-container a{
       margin-top: 20px;
       padding: 0px;
    }
  .logo-container p{
    font-size: 30px;
  }
  .logo-container {
   justify-content: space-evenly;

  }
  .nav-items-container .follow-btn{
    width: 262px;
    margin-top: 50px;
  }
  
}


/* responsive tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-items-container a{
       font-size: 18px;
    } }