/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* nav section starts */
.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-weight: 700;


}

.logo-container img {
    width: 80px;
    object-fit: contain;
    margin-right: 20px;
}

span {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
    color: #3C354F;
    text-align: center;
    font-weight: 500;
}

.nav-items-container .follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

/* nav section ends */
/* banner section starts */
.banner-container {
    margin: 0 auto;
    display: flex;
    max-width: 1400px;

}

.banner-text {
    width: 50%;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-text h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.heading {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-button {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 10px;
}

.button2 {
    background: #4EC5F7;
}

.banner-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    object-fit: cover;
}

/* banner section ends here */
/* video section starts */
.video-section {
    text-align: center;
}

.video-section h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.video-section p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -24px;
}

.video-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    gap: 25px;

}
.vid-div{
    position: relative;
    border-radius: 16px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: transparent;
    margin: 10px;
}

.icon {
    color: #FF42A5;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay a{
    text-decoration: none;
  }
.vid-div:hover .overlay{
    opacity: 1;
}
.fa-circle-play{
    color: #FFF;
}

.vid-div p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 35px;
}

/* ad section  */
.ad-section {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;

}

.ad-text {
    text-align: center;
    width: 50%;

}

.ad-text h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.ad-text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 400px;
    margin-left: 170px;
    text-align: center;
}

.ad-img {
    width: 50%;
    position: relative;
}

.small-img {
    position: absolute;
bottom: -50px;
left: -80px;

    
}

/* catergory section */
.category {
    margin: 80px 20px 50px 50px;

}

.category-content:hover {
    border: 2px solid #FF42A5;
    border-radius: 50px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 30px;

}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 80px;
}

.category-content {
    background: #FFF;
    display: flex;
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.category-content img {
    width: 60px;
    height: 60px;
}

.category-content p {
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
}



/* footer section */
footer {
    background: #0B0223;
    margin: 0;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container p {
    text-align: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;

}

.footer-anchor {
    text-align: center;
}

.footer-anchor a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
}

.icon-div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.footer-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-text p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.last-line {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}









/* responsive mobile */
@media screen and (max-width:576px) {

    .nav-container,
    .nav-items-container,
    .footer-text, .ad-section{
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .nav-items-container a {
        margin-top: 20px;
        padding: 0px;
    }

    .logo-container p {
        font-size: 30px;
    }

    .logo-container {
        justify-content: space-evenly;

    }

    .nav-items-container .follow-btn {
        width: 262px;
        margin-top: 50px;
    }

    .banner-text {
        width: 100%;
        text-align: center;
    }

    .banner-text h3 {
        font-size: 30px;

    }

    .heading {
        font-size: 50px;
    }

    .banner-text p {
        font-size: 14px;

    }

    .banner-button {
        align-items: flex-start;
        padding: 10px 15px;
        font-size: 16px;
    }

    img {
        max-width: 100%;
        width: 400px;


    }

    .video-div {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }

    .footer-container img {
        width: fit-content;
    }
   
    .footer-container p {
        font-size: 30px;
    }
   
    .footer-anchor a {
        font-size: 18px;
        gap: 15px;
        text-align: center;
        margin: 10px 5px;
    }

    .footer-text {
        margin-top: 0px;
        gap: 5px;
    }

    .footer-text p {
        margin: 10px 5px;
    }

    .category {
        margin: 0 auto;
    }
    .grid1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;

    }

    .grid2 {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        padding: 0;
     
    }
   

    .category-content p {
        font-size: 12px;
    }
    .ad-section{
        margin: 0 auto;
        align-items: center;
    }
    .ad-text {
        text-align: center;
     width: 100%;
     margin: 0 auto;
    }
    .ad-text h3{
font-size: 30px;
text-align: center;
margin-left: 20px;
    }
    .ad-text p{
font-size: 14px;
margin-left: 0;
width: fit-content;


    }
    .ad-img {
        position: relative;
        max-width: 400px;
        width: 100% ;
    }
    
    .small-img {
        position: absolute;
    bottom: -10px;
    left: -20px;
    width: 150px;
    
        
    }
}


/* responsive tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container, .ad-section {
        flex-direction: column;
    }
.ad-text p{
    margin: 0 auto;
    width: fit-content;
}
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 50px;
        align-items: center;
    }

    .nav-items-container a {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        width: 400px;

    }

    .banner-text {
        width: 95%;
        text-align: center;
    }

    .video-div {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

    }

    .footer-container img {
        width: fit-content;
    }

    .category {
        margin: 0 auto;
    }

    .grid1 {
        padding: auto;
        
    }

    .grid2 {
        padding: auto;
    }
    .ad-section{
        justify-content: center;
        align-items: center;
    }
    .ad-img {
        position: relative;
        width: fit-content;
    }
    
    .small-img {
        position: absolute;
    bottom: -30px;
    left: -40px;
    width: 200px; 
    }

}