/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* nav section starts */
.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-weight: 700;


}

.logo-container img {
    width: 80px;
    object-fit: contain;
    margin-right: 20px;
}

 span {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
    color: #3C354F;
    text-align: center;
    font-weight: 500;
}

.nav-items-container .follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}
/* nav section ends */
/* banner section starts */
.banner-container{
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
   
}
.banner-text{
    width: 50%;
    background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.banner-text h3{
color: #0B0223;
font-size: 48px;
font-weight: 600;
}
.heading{
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-button{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background:  #FF42A5;
color: #FFF;
font-size: 20px;
font-weight: 600;
margin: 20px 10px;
}
.button2{
    background: #4EC5F7;
}
.banner-text p{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    object-fit: cover;
}
/* banner section ends here */
/* video section starts */
.video-section{
    text-align: center;
}
.video-section h3{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.video-section p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: -24px;
}
.video-div{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin-left: 50px;
   
}

.vid-div p{
    color: #534C64;
font-size: 20px;
font-weight: 500;
line-height: 30px;
padding-top: 35px;
}









/* responsive mobile */
@media screen and (max-width:576px) {
    .nav-container, .nav-items-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .nav-items-container a{
       margin-top: 20px;
       padding: 0px;
    }
  .logo-container p{
    font-size: 30px;
  }
  .logo-container {
   justify-content: space-evenly;

  }
  .nav-items-container .follow-btn{
    width: 262px;
    margin-top: 50px;
  }
  .banner-text{
    width: 100%;
    align-items: center;


    
}
  .banner-text h3{
    font-size: 30px;
    text-align: center;

  }
  .heading{
    font-size: 50px;
  }
  .banner-text p{
    font-size: 14px;
    
  }
  .banner-button{
    align-items: flex-start;
    padding: 10px 15px;
    font-size: 16px;
  }
 img{
    max-width: 80%;
    padding-left: 20px;

  }
  .video-div{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
  }
}


/* responsive tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 50px;
        align-items: center;
    }

    .nav-items-container a{
       font-size: 18px;
    } 
    img{
        max-width: 90%;
        padding-left: 20px;
    
      }
      .banner-text{
        width: 95%;
        text-align: center;
}
.video-div{
    grid-template-columns: repeat(2,1fr);
    margin-left: 0;
}

}